:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #11254a;
    --color-dark: #0b2447;
    --color-bg: #020c1b;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }